@model DepartmentWithRoleViewModel
@{
    ViewData["Title"] = "Employee List";
    TempData["Controller"] = "Department";
    TempData["Action"] = "Display";
    TempData["id"] = Model.DepartmentId;
    TempData["ByDepartment"] = true;
}

<h2>Department: @Model.DepartmentName</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var view in Model.Employees)
        {
            <tr>
                <td>@view.Employee.EmployeeId</td>
                <td>@view.Employee.ApplicationUser.FirstName @view.Employee.ApplicationUser.LastName</td>
                <td>@view.Employee.ApplicationUser.Email</td>
                <td>@view.Employee.Position</td>
                <td>@view.Employee.Salary.ToString("N2")</td>
                <td>@view.Employee.Department.Name</td>
                <td>@string.Join(", ", view.Roles)</td>
                <td>
                    <a asp-controller="Employee"
                       asp-action="Profile"
                       asp-route-userId="@view.Employee.ApplicationUser.Id"
                       class="btn btn-sm btn-success">
                        Edit
                    </a>
                    <a asp-controller="Employee"
                       asp-action="Delete"
                       asp-route-userId="@view.Employee.ApplicationUser.Id"
                       class="btn btn-sm btn-success">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>



