@model UserProfileEditViewModel
@{
    //var departments = new List<string> { "HR", "IT", "Finance", "Marketing" };
    var positions = new List<string> { "Junior Dev", "Mid Dev", "Senior dev", "Devops" };
    ViewData["Title"] = "User Profile";    
    //bool isEditable = (ViewData["IsEditable"] as bool?) ?? false;
}

<h2>User Profile</h2>

<form asp-action="Edit" method="post">    
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ViewDepartmentId" />
    
    <dl class="row">
        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">                            
            <input asp-for="FirstName" class="form-control" type="hidden" />
            @Model.FirstName            
        </dd>

        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">            
            <input asp-for="LastName" class="form-control" type="hidden" />
            @Model.LastName           
        </dd>

        <dt class="col-sm-3">Email</dt>
            <input asp-for="Email" class="form-control" type="hidden" />
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Position</dt>
        <dd class="col-sm-9">                    
            <select asp-for="Position" class="form-control">
                <option value="">-- Select Position --</option>
                @foreach (var pos in positions)
                {
                    <option value="@pos">@pos</option>
                }
            </select>                                        
        </dd>

        <dt class="col-sm-3">Salary</dt>
        <dd class="col-sm-9">            
            <input asp-for="Salary" class="form-control" />                        
        </dd>
        <dt class="col-sm-3">Country</dt>
        <dd class="col-sm-9">            
            <select asp-for="CountryId" asp-items="Model.CountryOptions" class="form-control">
                <option value="">-- Select Country --</option>
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>            
        </dd>
        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9">
            @if (User.IsInRole("admin"))
            {
                 <select asp-for="DepartmentName" class="form-control">
                    <option value="">-- Select Department --</option>
                    @foreach (var dept in Model.Departments)
                    {
                        <option value="@dept.Name">@dept.Name</option>
                    }
                </select>
                
            }
            else
            {
                <input asp-for="DepartmentName" class="form-control" type="hidden"/>
                @(Model.DepartmentName ?? "N/A")
            }
        </dd>

        
    </dl>
    
    <button type="submit" class="btn btn-primary">Save Changes</button>
    
</form>
