@model List<EmployeeWithRoleViewModel>
@{
    ViewData["Title"] = "Employee List";
}

<h2>Employees</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>            
            <th>Email</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var view in Model)
        {
            <tr>
                <td>
                    @*<a asp-controller="Employee"
                       asp-action="Detail"
                       asp-route-id=@view.Employee.EmployeeId
                       class="link">@view.Employee.EmployeeId</a>*@
                    @view.Employee.EmployeeId
                </td>
                <td>@view.Employee.ApplicationUser.FirstName @view.Employee.ApplicationUser.LastName</td>                
                <td>@view.Employee.ApplicationUser.Email</td>
                <td>@view.Employee.Position</td>
                <td>@view.Employee.Salary.ToString("N2")</td>
                <td>
                    @*<a asp-controller="Employee"
                       asp-action="Department"
                       asp-route-department=@view.Employee.Department
                       class="link">@view.Employee.Department</a>*@
                    @view.Employee.Department.Name
                </td>
                <td>@string.Join(", ", view.Roles)</td>
                <td>
                    <a asp-controller="Employee"
                       asp-action="Profile"
                       asp-route-userId="@view.Employee.ApplicationUser.Id"
                       class="btn btn-sm btn-success">
                        Edit
                    </a>
                    <a asp-controller="Employee"
                       asp-action="Delete"
                       asp-route-userId="@view.Employee.ApplicationUser.Id"
                       class="btn btn-sm btn-success">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<div class="text-center mt-4">
    <a asp-controller="Employee" asp-action="HireEmployee" class="btn btn-success btn-lg">
        ➕ Create New Employee
    </a>
</div>*@
