@model IEnumerable<Employee> 
@{
    ViewData["Title"] = "Employee List";
}

<h2>Employees</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Employee"
                       asp-action="Detail"
                       asp-route-id=@emp.EmployeeId
                       class="link">@emp.EmployeeId</a>
                </td>
                <td>@emp.ApplicationUser.FirstName</td>
                <td>@emp.ApplicationUser.LastName</td>
                <td>@emp.ApplicationUser.Email</td>
                <td>@emp.Salary.ToString("N2")</td>
                <td>
                    <a asp-controller="Employee"
                       asp-action="Department"
                       asp-route-department=@emp.Department
                       class="link">@emp.Department</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center mt-4">
    <a asp-controller="Employee" asp-action="HireEmployee" class="btn btn-success btn-lg">
        ➕ Create New Employee
    </a>
</div>