@model MyProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">User Profile</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Id</dt>
                <dd class="col-sm-9">@Model.User!.Id</dd>

                <dt class="col-sm-3">FirstName</dt>
                <dd class="col-sm-9">@Model.User!.FirstName</dd>

                <dt class="col-sm-3">LastName</dt>
                <dd class="col-sm-9">@Model.User!.LastName</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.User!.Email</dd>

                <dt class="col-sm-3">Position</dt>
                <dd class="col-sm-9">@(!Model.IsEmployee ? "N/A" : Model.User!.Employee!.Position)</dd>

                <dt class="col-sm-3">Salary</dt>
                <dd class="col-sm-9">@(!Model.IsEmployee ? "N/A" : "$" + Model.User!.Employee!.Salary.ToString("N2"))</dd>

                <dt class="col-sm-3">Country</dt>
                <dd class="col-sm-9">@(!Model.IsEmployee ? "N/A" : Model.User!.Employee!.Country.Name)</dd>

                <dt class="col-sm-3">Department</dt>
                <dd class="col-sm-9">@(!Model.IsEmployee ? "N/A" : Model.User!.Employee!.Department.Name)</dd>

                <dt class="col-sm-3">Role</dt>
                @if (User.IsInRole("employee"))
                {
                    <dd class="col-sm-9">employee</dd>
                }
                else if (User.IsInRole("manager"))
                {
                    <dd class="col-sm-9">manager</dd>
                }
                else if (User.IsInRole("admin"))
                {
                    <dd class="col-sm-9">admin</dd>
                }
                else
                {
                    <dd class="col-sm-9">N/A</dd>
                }
                <dt class="col-sm-3">Month Working Days</dt>
                <dd class="col-sm-9">@(!Model.IsEmployee ? "N/A" : Model.MonthWorkingDays)</dd>
            </dl>
            
            @*<a asp-action="Index" asp-controller="Employee" class="btn btn-secondary mt-3">Back to List</a>*@
        </div>
    </div>
    @if (!User.IsInRole("employee") && !User.IsInRole("manager") && !User.IsInRole("admin"))
    {
        <h2>Your registration is under review</h2>
        <p>Waiting for HR approval.</p>
    }
</div>