@model ApplicationUser
@{
    ViewData["Title"] = "User Profile";
    bool isEditable=false;
    if (ViewData["IsEditable"] != null)
        isEditable = (bool)ViewData["IsEditable"]!;
}

<h2>User Profile</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <dl class="row">
        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">
            @if (isEditable)
            {
                <input asp-for="FirstName" class="form-control" />
            }
            else
            {
                @Model.FirstName
            }
        </dd>

        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">
            @if (isEditable)
            {
                <input asp-for="LastName" class="form-control" />
            }
            else
            {
                @Model.LastName
            }
        </dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Salary</dt>
        <dd class="col-sm-9">
            @if (isEditable && Model.Employee != null)
            {                
                <input asp-for="Employee.Salary" class="form-control" />
            }
            else
            {
                @( Model.Employee == null ? "NA" : $"${Model.Employee.Salary:N2}" )
            }
        </dd>

        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9">
            @if (isEditable && Model.Employee != null && User.IsInRole("admin"))
            {
                <input asp-for="Employee.Department" class="form-control" />
            }
            else
            {
                @(Model.Employee?.Department ?? "NA")
            }
        </dd>
    </dl>

    @if (isEditable)
    {
        <button type="submit" class="btn btn-primary">Save Changes</button>
    }
</form>
